$include /etc/inputrc

# Prevent window flashing on Git Bash (MINGW)
set bell-style none

# Use LS_COLORS and append a character to filename completions to indicate type
set colored-stats On
set visible-stats On

# Use case-insensitive filename completion and treat hyphens and underscores as
# equivalent
set completion-ignore-case On
set completion-map-case On

# Replace common prefixes longer than this with ellipses ("...")
set completion-prefix-display-length 32

# Confirm before displaying this many completions
set completion-query-items 200

# Add a trailing slash to symlink completions when the target is a directory
set mark-symlinked-directories On

$if term=screen
    set page-completions On
$else
    set page-completions Off
$endif

# Undo changes to history after each line
set revert-all-at-newline On

# Show completions immediately
#set show-all-if-ambiguous On
set show-all-if-unmodified On

# Complete words without duplicating text after the cursor (Bash 4+ only)
set skip-completed-text On
